In [1]:
import pandas as pd

In [2]:
data = {
    'Name':['Pavan','kapil','Lalit','Ishan','Om'],
    'Age' : [25,None,44,23,None],
    'Salary' : [50000, 60000 , 70000 , None , None]
}

df = pd.DataFrame(data)
print("Original Dataframe")
print(df)

Original Dataframe
    Name   Age   Salary
0  Pavan  25.0  50000.0
1  kapil   NaN  60000.0
2  Lalit  44.0  70000.0
3  Ishan  23.0      NaN
4     Om   NaN      NaN

In [3]:
print(df.isnull().sum())
# Har column mai kitne missing values hai

Name      0
Age       2
Salary    2
dtype: int64

In [4]:
df.isnull().mean() * 100
# This will tell us how much data ( % ) is missing currently

Name       0.0
Age       40.0
Salary    40.0
dtype: float64

In [5]:
df_drop = df.dropna()
print(df_drop)

    Name   Age   Salary
0  Pavan  25.0  50000.0
2  Lalit  44.0  70000.0

In [6]:
df['Age'].fillna(df['Age'].mean(), inplace = True)
# Age ke empty entiries mai, Age ka mean value place kardo
df['Salary'].fillna(df['Salary'].mean(), inplace = True)
# Salary ke empty entiries mai, Salary ka mean value place kardo
print(df)

    Name        Age   Salary
0  Pavan  25.000000  50000.0
1  kapil  30.666667  60000.0
2  Lalit  44.000000  70000.0
3  Ishan  23.000000  60000.0
4     Om  30.666667  60000.0

C:\Users\Admin\AppData\Local\Temp\ipykernel_8212\2838470040.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace = True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_8212\2838470040.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(), inplace = True)

In [7]:
df.isnull().mean() * 100

Name      0.0
Age       0.0
Salary    0.0
dtype: float64

In [8]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

df= pd.read_csv('student_dataset.csv')

In [10]:
df_label = df.copy()  # Safe duplicate data bana rahe hai for our original data

le = LabelEncoder()
df_label['Gender_Encoded'] = le.fit_transform(df_label['Gender'])
# Fit - Jo values hai unhe seekhna hai 
# Transform - Seekhne ke baad number se replace kar dena hai
df_label['Passed_Encoded'] = le.fit_transform(df_label['Passed'])
print('\n Label Encoded Data')
print(df_label[['Name','Gender','Gender_Encoded','Passed','Passed_Encoded']])

 Label Encoded Data
         Name  Gender  Gender_Encoded Passed  Passed_Encoded
0       Aarav    Male               1    Yes               1
1      Ananya  Female               0     No               0
2       Rohan    Male               1    Yes               1
3       Priya  Female               0    Yes               1
4       Kunal    Male               1     No               0
5       Sneha  Female               0    Yes               1
6      Aditya    Male               1     No               0
7       Pooja  Female               0    Yes               1
8       Rahul    Male               1    Yes               1
9        Neha  Female               0     No               0
10     Vikram    Male               1    Yes               1
11       Isha  Female               0    Yes               1
12      Arjun    Male               1     No               0
13      Kavya  Female               0    Yes               1
14  Siddharth    Male               1     No               0
15      Meera  Female               0    Yes               1
16     Nikhil    Male               1    Yes               1
17       Ritu  Female               0     No               0
18       Aman    Male               1    Yes               1
19     Shreya  Female               0     No               0

In [14]:
df_encoded = pd.get_dummies(df, columns = ['City']) # Dummies - Text wale columnn ko small binary number mai convert kar do
print('\n One-Hot Encoded Data')
print(df_encoded)

 One-Hot Encoded Data
         Name  Gender Passed  City_Agra  City_Ahmedabad  City_Bangalore  \
0       Aarav    Male    Yes      False           False           False
1      Ananya  Female     No      False           False           False
2       Rohan    Male    Yes      False           False           False
3       Priya  Female    Yes      False           False            True
4       Kunal    Male     No      False           False           False
5       Sneha  Female    Yes      False           False           False
6      Aditya    Male     No      False           False           False
7       Pooja  Female    Yes      False           False           False
8       Rahul    Male    Yes      False           False           False
9        Neha  Female     No      False           False           False
10     Vikram    Male    Yes      False            True           False
11       Isha  Female    Yes      False           False           False
12      Arjun    Male     No      False           False           False
13      Kavya  Female    Yes      False           False           False
14  Siddharth    Male     No      False           False           False
15      Meera  Female    Yes      False           False           False
16     Nikhil    Male    Yes      False           False           False
17       Ritu  Female     No      False           False           False
18       Aman    Male    Yes      False           False           False
19     Shreya  Female     No       True           False           False

    City_Bhopal  City_Chennai  City_Delhi  City_Faridabad  ...  City_Indore  \
0         False         False        True           False  ...        False
1         False         False       False           False  ...        False
2         False         False       False           False  ...        False
3         False         False       False           False  ...        False
4         False          True       False           False  ...        False
5         False         False       False           False  ...        False
6         False         False        True           False  ...        False
7         False         False       False           False  ...        False
8         False         False       False           False  ...        False
9         False         False       False           False  ...         True
10        False         False       False           False  ...        False
11        False         False       False           False  ...        False
12         True         False       False           False  ...        False
13        False         False       False           False  ...        False
14        False         False       False           False  ...        False
15        False         False       False           False  ...        False
16        False         False       False            True  ...        False
17        False         False       False           False  ...        False
18        False         False       False           False  ...        False
19        False         False       False           False  ...        False

    City_Jaipur  City_Kolkata  City_Lucknow  City_Mumbai  City_Noida  \
0         False         False         False        False       False
1         False         False         False         True       False
2         False         False         False        False       False
3         False         False         False        False       False
4         False         False         False        False       False
5         False         False         False        False       False
6         False         False         False        False       False
7          True         False         False        False       False
8         False          True         False        False       False
9         False         False         False        False       False
10        False         False         False        False       False
11        False         False         False        False       False
12        False         False         False        False       False
13        False         False         False        False       False
14        False         False         False        False        True
15        False         False         False        False       False
16        False         False         False        False       False
17        False         False         False        False       False
18        False         False          True        False       False
19        False         False         False        False       False

    City_Patna  City_Pune  City_Surat  City_Udaipur
0        False      False       False         False
1        False      False       False         False
2        False       True       False         False
3        False      False       False         False
4        False      False       False         False
5        False      False       False         False
6        False      False       False         False
7        False      False       False         False
8        False      False       False         False
9        False      False       False         False
10       False      False       False         False
11       False      False        True         False
12       False      False       False         False
13       False      False       False          True
14       False      False       False         False
15       False      False       False         False
16       False      False       False         False
17        True      False       False         False
18       False      False       False         False
19       False      False       False         False

[20 rows x 22 columns]